* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.search {
    position: relative;
    height: 50px;
}

.input {
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.5s ease;
}

.btn {
    background: url(https://cdn-0.emojis.wiki/emoji-pics/facebook/skull-and-crossbones-facebook.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 100% 100%;
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.5s ease;
}

.search.active .input {
    width: 500px;
    outline: none;
}

.search.active .btn {
    transform: translate(500px);
}