* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #FF6B6B, #556270);
}

.container {
    margin: auto;
    width: 25%;
    padding: 10px;
    border: 1px solid #f2f2f2;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(176, 176, 176, 1);
    -moz-box-shadow: 1px 1px 4px 0px rgba(176, 176, 176, 1);
    box-shadow: 1px 1px 4px 0px rgba(176, 176, 176, 1);
    background-color: #fff;
    height: 450px;
    background-color: #F8F8F8;
}

.result {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
    width: 625px;
    height: 50px;
    border: 1px solid #000;
    background-color: orange;
    margin: 4px 0px 4px 2px;
    border-radius: 3px;
    color: white;
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.conflict {
    display: inline-block;
    width: 100%;
}

.global {
    padding: 15px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    background-color: #F2F2F2;
    float: left;
    width: 10%;
    margin: 0 2px;
    border: 1px solid #000;
}

.conflict .left,
.conflict .right {
    float: left;
    position: relative;
}

.left {
    width: 74%;
}

.right {
    width: 24%;
}

.big {
    padding: 15px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    background-color: #F2F2F2;
    float: left;
    width: 27.5%;
    margin: 0 2px;
    border: 1px solid #000;
}

.small {
    padding: 15px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    background-color: #F2F2F2;
    float: left;
    width: 13.5%;
    margin: 0 2px;
    border: 1px solid #000;
}

.equal {
    position: absolute;
    height: 213px;
    width: 41.5%;
    right: 875px;
    bottom: -50px;
}

.green {
    background-color: #81C784;
}

.red {
    background-color: #F50258
}

.grey {
    background-color: #F2F2F2;
}

.white-text {
    color: #fff;
}

.top-margin {
    margin-top: 4px;
}